@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fade3{
        animation: fade-in-out 3s ;
    }
    .animate-fade {
        animation: fade-in 2s;
    }
    .animate-pulsate {
        animation: pulsate infinite 1.5s;
    }

    @keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes fade-in-out {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes pulsate {
        0% {
            -webkit-transform: scale(1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1.3, 1.3);
            opacity: 0;
        }
    }
}